*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}
.first{
    
    width:60%;
    min-height: 100px;
    margin: auto;
}

.par{
    width:100%;
    background-color: red;
    min-height: 50px;

}
.logo{
    width: 50%;
   
    height: 50px;
    float:left;
    line-height: 50px;
    padding-left: 2%;
}
.navi{
    width: 50%;
       
        height: 50px;
        float:right;
        line-height: 50px;

}
/* .par::after{
    content: '';
    display: block;
    clear: both;
} */

.box{
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
   
}
.grid{
    width: 20%;
    height: 100px;
    background-color: green;
    float: left;
}
.grid:nth-child(2),.grid:nth-child(3){
    margin-left: 5%;
    margin-right: 5%;
}

.boxes{
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
   
}
.boxs{
    width: 30%;
        min-height: 200px;
        background-color: rgb(53, 46, 10);
        float: left;
        line-height: 200px;
        text-align: center;
}

.boxs:nth-child(2){
    margin-right: 5%;
    margin-left: 5%;
}
footer{
    margin-top: 10px;
    width: 100%;
    background-color: sandybrown;
    min-height: 55px;
    line-height: 55px;
    text-align: center;
}

@media (max-width:550px){
    body{
      
        flex-direction: column;
    }
}